a {
  color: teal;
}

a:hover {
  color: #004346;
}

.ui.wyr-container {
  margin-top: 2em;
}

.ui.secondary.menu .active.item {
  background: rgba(0, 181, 173, 1);
  color: white;
}

.ui.secondary.menu .active.item:hover {
  background: rgba(0, 67, 70, 1);
  color: rgba(255, 255, 255, 1);
}

.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  background: rgba(0, 181, 173, 1);
  color: rgba(255, 255, 255, 1);
}

.ui.menu .active > .label {
  background: teal;
}

.question-list,
.leaderboard {
  padding-left: 0;
}

.question-list li,
.leaderboard li {
  list-style-type: none;
  margin: 1em 0;
}

.result-option {
  position: relative;
}

.ui.circular.segment {
  padding: 1em;
}

.your-vote {
  position: absolute;
  top: 0;
  right: 0;
}

.ui.central,
.ui .central {
  margin: 0 auto;
}

.ui.segment {
  display: flex;
}
